.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.center {
  text-align: center;
}

.fbs-left {
  float: left;
}

.fbs-right {
  display: block;
  overflow: hidden;
}

.block {
  display: block;
  width: 100%;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.bold {
  font-weight: bold;
}

.clearfix::before,
.clearfix::after {
  line-height: 0;

  display: block;
  visibility: hidden;
  clear: both;

  height: 0;

  content: '';
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

// 项目专享
.btn-disabled {
  opacity: 0.5;
}

.btn-color {
  background-image: linear-gradient(to right, #74d27d, $green);
  color: #fff;
  text-align: center;

  &:active:not(.btn-disabled) {
    background-image: linear-gradient(to right, #45ac5d, #1c9e72);
  }
}

.btn-anti-color {
  background-image: #fff;
  color: $green;
  text-align: center;
  border: 1px solid $green;

  &:active:not(.btn-disabled) {
    background-image: linear-gradient(to right, #efefef, #efefef);
  }
}

.shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.shadow-green {
  box-shadow: 0 4px 10px 4px rgba(60, 190, 146, .25);
}

* {
  font-size: 12px;
}